:root {
  --primary-sunglow: #ffd034;
  --secondary-white: #ffff;
  --secondary-light-blue: #cadbf8;
  --secondary-catalina:#06327d;
  --secondary-bluetiful: #2b70e4;
  --secondary-black: #000000;
  --secondary-vegan:#209d5c;
}



@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* BASIC FORMATTING */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

 
img {
  max-width: 900%;
  border-radius: 10px;
  margin: 3rem;
}

body {
 font-family: "Nunito Sans", sans-serif;
  font-size: 1.125rem;
  background-color: var(--secondary-white);
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

header {
  border-bottom: 15px solid var(--primary-sunglow);
  background-color:var(--secondary-catalina);
  color: var(--secondary-white);
   display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  text-decoration: none;
  
   }

main {
  background-color: var(--secondary-light-blue);
  border-bottom: 5px solid var(--primary-sunglow);
  border-top: 5px solid var(--primary-sunglow);
}


  
nav ul {
  display: flex;
  flex-wrap: wrap;
  color: var(--secondary-white);
  list-style: none;
  gap: 3rem;
  }
nav li {
  text-align: center;
  display: flex;
  justify-content:space-between;

}
nav a {
  color: var(--secondary-white);
  list-style-type: none;
  text-decoration: none;
   
}
.card-container {
  
  background-color: var(--secondary-light-blue);
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 45px solid var(--secondary-light-blue);
  max-width: 100rem;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

  
.hero {
  background-color: var(--secondary-white);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;



}

.card-5 {
  background-color: var(--secondary-light-blue);
}
 a:hover {
  color: var(--primary-sunglow);
}

h1 {
  line-height: 1.1667;
  font-size: 3rem;
  font-weight: 300;
  margin: 0;
  text-transform: upppercase;
}


h2 {
  margin: 2rem;
  font-size: 2.5rem;
  line-height: 1.1667;
  font-weight: 300;
}
  
h3 {   
  margin: 2rem;
  font-size: 1.75rem;
  line-height: 1.1667;
  font-weight: 300;
}


p {
  margin: 2rem;
  font-weight: 700;
  font-size: 1.3rem;
} 

.button-main {
  background-color: var(--secondary-vegan);
  border: 2px solid var(--secondary-black)black;
  padding: .5rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--secondary-white);
  border-radius: 10px;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-bottom: 3rem;
  display: inline-block;
   width: max-content;

}



.blue-button {
  padding: .5rem;
  margin-bottom: 2rem;
  padding-bottom: .5rem;
  background-color: var(--secondary-catalina);
  border: 2px solid var(--secondary-black);
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--secondary-white);
  border-radius: 10px;
  margin-top: 2rem;
  margin-left: 2rem;
  display: inline-block;
}

.button-main:hover {
  background-color: var(--primary-sunglow);
  color: var(--secondary-bluetiful);
}

.blue-button:hover {
  background-color: var(--secondary-bluetiful);
  color: var(--primary-sunglow);
}



footer {
  color: var(--secondary-white);
  background-color: var(--secondary-catalina);
  border-top: 25px solid var(--primary-sunglow);
  align-items: center;
  text-align: center;
  padding-bottom: 4rem;
  margin-top: 2rem;
} 
     

 /* home (phones, 600px and down) */

@media (min-width: 650px) {
  img {
    max-height: 300%;
    margin: 4rem;
    }
  .hero-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }
}
@media (min-width: 1000px) {
  header {
    /*flex-direction: column;*/
    justify-content: space-between;
    gap: 0rem;
    margin: 0rem;
    background-color: var(--secondary-catalina);
    align-content: center;
  }
  .logo {
    margin: 0rem;
    margin-top: 1.5rem;
  }
}

    }
 

@media (min-width: 1000px) {

  img {
    max-height: 300px;
    margin-left: 6rem;
  }
  main {
    background-color: var(--secondary-catalina);
   }
    
   .card-container {
  background-color: var(--secondary-catalina);
  grid-template-columns: 1fr 1fr 1fr 1fr;
    
  }

    footer {
  color: var(--secondary-white);
  background-color: var(--secondary-catalina);
  border-top: 30px solid var(--primary-sunglow);
  align-items: center;
  text-align: center;
  padding-bottom: 2rem;
  margin-top: 2rem;
    }
  }